play.application.loader = "play.api.inject.guice.GuiceApplicationLoader"

slick.dbs.default.profile = "slick.jdbc.MySQLProfile$"
slick.dbs.default.db.driver   = "com.mysql.cj.jdbc.Driver"
slick.dbs.default.db.url      = "jdbc:mysql://localhost:{Your-port}/employee_db?serverTimezone=UTC"
slick.dbs.default.db.user     = "{Your-user}"
slick.dbs.default.db.password = "{Your-password}"


play.evolutions.db.default.enabled   = true
play.evolutions.db.default.autoApply = false

play.modules.enabled += "Module"

play.filters.enabled = [
  "play.filters.cors.CORSFilter",
  "play.filters.headers.SecurityHeadersFilter",
  "play.filters.hosts.AllowedHostsFilter"
]
